In [20]:
import os
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

# bring in CSV files
England = "England.csv"
Germany = "Germany.csv"
Italy = "Italy.csv"
Spain = "Spain.csv"

# Read in the data
England_data = pd.read_csv(England)
Germany_data = pd.read_csv(Germany)
Italy_data = pd.read_csv(Italy)
Spain_data = pd.read_csv(Spain)

In [24]:
# merge the four datasets
merge1_df = pd.append(England_data, Germany_data, how="left")
merge1_df

AttributeError: module 'pandas' has no attribute 'append'

In [18]:
trim_merge_df = full_merge_df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7]]
trim_merge_df

    Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG FTR
0    E0  09/08/2019  20:00       Liverpool           Norwich     4     1   H
1    E0  10/08/2019  12:30        West Ham          Man City     0     5   A
2    E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1   D
3    E0  10/08/2019  15:00         Burnley       Southampton     3     0   H
4    E0  10/08/2019  15:00  Crystal Palace           Everton     0     0   D
..   ..         ...    ...             ...               ...   ...   ...  ..
345  E0  12/07/2020  12:00          Wolves           Everton     3     0   H
346  E0  12/07/2020  14:15     Aston Villa    Crystal Palace     2     0   H
347  E0  12/07/2020  16:30       Tottenham           Arsenal     2     1   H
348  E0  12/07/2020  19:00     Bournemouth         Leicester     4     1   H
349  E0  13/07/2020  20:00      Man United       Southampton     2     2   D

[350 rows x 8 columns]